{% extends "base.html" %}

{% block content %}
    <div class="card">
        <h1>New Entry</h1>
        <p class="small">Turn the noise into data. Then redirect.</p>

        <form method="POST" enctype="multipart/form-data">

            <label>Upload photo:</label>
            <input type="file" name="image" accept="image/*">

            <label>Say something about this photo:</label>
            <textarea name="image_caption" placeholder="Write something about this photo..."></textarea>
            
            <label>What happened today that stuck with you?</label>
            <textarea name="day"></textarea>

            <label>Rate your mood? (1–10)</label>
            <input type="number" name="mood" min="1" max="10" required>

            <label>Are you grounded right now?</label>
            <input name="okay">

            <label>What moment or thought triggered this?</label>
            <textarea name="trigger"></textarea>

            <label>What story is your mind telling you?</label>
            <textarea name="thought"></textarea>

            <label>What are you feeling in one word?</label>
            <input name="feeling">
<!-- Changed signal to how strong are your feelings -->
            <label>How strong are your feelings for this person? (1–10)</label>
            <input type="number" name="signal" min="1" max="10">

            <label>Where do you think this is coming from?</label>
            <input name="source">
<!-- changed pattern to what do you want to tell this person -->
            <label>What do you want to tell this person?</label>
            <textarea name="loop"></textarea>

            <label>What will you do instead, right now?</label>
            <textarea name="redirect"></textarea>

            <label>What would your future self say?</label>
            <textarea name="lesson"></textarea>
            
            <label>Upload image</label>
            <input type="file" name="image" accept="image/*">

            <label>Visibility</label>
            <select name="visibility">
                <option value="private">Private</option>
                <option value="public">Public</option>
            </select>

            <button type="submit" class="primary-btn">Save Entry</button>
        </form>
    </div>
{% endblock %}
